<a href="/dashboard">&larr; Retour</a>
<div class="admin-title">
    <h2>Ajouter un nouvel article</h2>
</div>

<form action="/add-post" method="POST">

    <label for="title"><b>Titre</b></label>
    <input type="text" placeholder="Titre du poste" name="title" required>

    <label for="section"><b>Section</b></label>
    <input type="text" placeholder="Section du poste" name="section" required>

    <label for="body"><b>Contenu</b></label>
    <textarea name="body" cols="50" rows="10" required></textarea>

    <input type="submit" value="Ajouter" class="btn">

</form>