<!-- Lien de retour avec la flèche &larr -->
<a href="/dashboard">&larr; Retour</a>
<div class="admin-title">
    <h2>Ajouter un nouvel article</h2>
</div>

<!-- Le formulaire qui pointe vers l'url /add-post  -->
<form action="/add-post" method="POST">

    <label for="title"><b>Title</b></label>
    <input type="text" placeholder="Titre du poste" name="title">

    <label for="body"><b>Content</b></label>
    <textarea name="body" cols="50" rows="10"></textarea>

    <input type="submit" value="Ajouter" class="btn">

</form>