<h3>Identification</h3>

<form action="/admin" method="POST">

    <label for="username"><b>Nom d'utilisateur</b></label>
    <input type="text" placeholder="Entrez votre nom d'utilisateur" name="username">

    <label for="password"><b>Mot de passe</b></label>
    <input type="text" placeholder="Entrez votre mot de passe" name="password">
    
    <input type="submit" value="s'identifier" class="btn">
</form>

<h3>Inscription</h3>

<form action="/register" method="POST">

    <label for="username"><b>Nom d'utilisateur</b></label>
    <input type="text" placeholder="Entrez votre nom d'utilisateur" name="username">

    <label for="password"><b>Mot de passe</b></label>
    <input type="text" placeholder="Entrez votre mot de passe" name="password">
    
    <input type="submit" value="s'inscrire" class="btn">
</form>