<header class="header">
    <a href="/" class="header_logo">Blog</a>

    <nav class="header_nav">
        <ul>
            <li>
                <a href="/" class="<%= isActiveRoute("/", currentRoute) %>">Accueil</a>
            </li>
            <li>
                <a href="/about" class="<%= isActiveRoute("/about", currentRoute) %>">À propos</a>
            </li>
            <li>
                <a href="/contact" class="<%= isActiveRoute("/contact", currentRoute) %>">Contact</a>
            </li>
        </ul>

    </nav>

    <div class="header_button">
        <button class="searchBtn" aria-expanded="false">
            Search
            
        </button>
    </div>
</header>