<header class="header">
    <a href="/accueil" class="header_logo">Panneau de l'administrateur</a>

    <nav class="header_nav">
        <ul>
            <li>
                <a href="/accueil" class="">Accueil</a>
            </li>
            <li>
                <a href="/about" class="">À propos</a>
            </li>
            <li>
                <a href="/contact" class="">Contact</a>
            </li>
        </ul>

    </nav>

    <div class="header_button">
        <a href="/logout">
            Déconnexion
        </a>
    </div>
</header>