<h1>À propos </h1>

<p>J'ai été d'abord introduit au langage Python lors de ma licence de physique. 
    J'ai élaboré en binôme plusieurs projets expérimentaux et c'est ce qui m'a conduit à ma reconversion. 
    Aujourd'hui je continue à me former en front et en back à Hetic où je suis ma formation de développeur web et en autodidacte. 
    Je suis à la recherche d'une alternance pour à partir de septembre.</p>